<h1>Auction Calendar&copy;</h1>
<form>
  <div class="form-group"> 
  	<input type="text" class="form-control" name="username" id="inlineFormInputGroup" placeholder="Username" required>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>